<ion-header>
  <ion-toolbar style="--background: rgb(255, 43, 23);--color: #fff;">
    <ion-title text-center>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="warning" (click)="about()">
      <ion-icon style="font-size: 35px;" name="information-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="p1" style="margin: 10px;" *ngIf="p1==true">
    <ion-text style="display: block;background: #fff;position: relative;top: 10px;width: 40%;left: 20px;padding-left: 20px;border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;;">{{mName}}</ion-text>
    <div style="border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;">
      <ion-chip color="primary" >
        <!-- *mgFor="let single of p1Do" -->
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Sweeping</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Dusting</ion-label>
      </ion-chip>
      <ion-chip color="tertiary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Cleaning Floor</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Washing Cloth</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bed </ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bathroom</ion-label>
      </ion-chip>
    </div>
  </div>


  <div class="p1" style="margin: 10px;" *ngIf="p2==true">
    <ion-text style="display: block;background: #fff;position: relative;top: 10px;width: 40%;left: 20px;padding-left: 20px;border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;;">{{m1Name}}</ion-text>
    <div style="border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;">
      <ion-chip color="success" >
        <!-- *mgFor="let single of p2Do" -->
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Sweeping</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Dusting</ion-label>
      </ion-chip>
      <ion-chip color="tertiary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Cleaning Floor</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Washing Cloth</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bed </ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bathroom</ion-label>
      </ion-chip>
    </div>
  </div>

  <div class="p1" style="margin: 10px;" *ngIf="p3==true">
    <ion-text style="display: block;background: #fff;position: relative;top: 10px;width: 40%;left: 20px;padding-left: 20px;border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;;">P1Name</ion-text>
    <div style="border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;">
      <ion-chip color="primary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Sweeping</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Dusting</ion-label>
      </ion-chip>
      <ion-chip color="tertiary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Cleaning Floor</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Washing Cloth</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bed </ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bathroom</ion-label>
      </ion-chip>
    </div>
  </div>


  <div class="p1" style="margin: 10px;" *ngIf="p4==true">
    <ion-text style="display: block;background: #fff;position: relative;top: 10px;width: 40%;left: 20px;padding-left: 20px;border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;;">P1Name</ion-text>
    <div style="border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;">
      <ion-chip color="primary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Sweeping</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Dusting</ion-label>
      </ion-chip>
      <ion-chip color="tertiary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Cleaning Floor</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Washing Cloth</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bed </ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bathroom</ion-label>
      </ion-chip>
    </div>
  </div>


  <div class="p1" style="margin: 10px;" *ngIf="p5==true">
    <ion-text style="display: block;background: #fff;position: relative;top: 10px;width: 40%;left: 20px;padding-left: 20px;border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;;">P1Name</ion-text>
    <div style="border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;">
      <ion-chip color="primary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Sweeping</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Dusting</ion-label>
      </ion-chip>
      <ion-chip color="tertiary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Cleaning Floor</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Washing Cloth</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bed </ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bathroom</ion-label>
      </ion-chip>
    </div>
  </div>


  <div class="p1" style="margin: 10px;" *ngIf="p6==true">
    <ion-text style="display: block;background: #fff;position: relative;top: 10px;width: 40%;left: 20px;padding-left: 20px;border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;;">P1Name</ion-text>
    <div style="border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;">
      <ion-chip color="primary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Sweeping</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Dusting</ion-label>
      </ion-chip>
      <ion-chip color="tertiary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Cleaning Floor</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Washing Cloth</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bed </ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bathroom</ion-label>
      </ion-chip>
    </div>
  </div>


  <div class="p1" style="margin: 10px;" *ngIf="p7==true">
    <ion-text style="display: block;background: #fff;position: relative;top: 10px;width: 40%;left: 20px;padding-left: 20px;border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;;">P1Name</ion-text>
    <div style="border: 1px solid rgb(255, 43, 23);border-radius: 10px;padding: 10px;">
      <ion-chip color="primary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Sweeping</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Dusting</ion-label>
      </ion-chip>
      <ion-chip color="tertiary">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Cleaning Floor</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Washing Cloth</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bed </ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="checkmark-circle-outline" ></ion-icon>
        <ion-label>Bathroom</ion-label>
      </ion-chip>
    </div>
  </div>
</ion-content>

