.location{
    width: 80%;
    display: block;
    margin: 2vh auto  auto;
}


.family{
    width: 80%;
    display: block;
    margin: 2vh auto  auto;
}

ion-list{
    border: 1px solid rgb(255, 43, 23);
    border-radius: 10px;
}

small{
    color: #6233f9;
}